# OS/Editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
~$*

# Node (caso futuro)
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build/Cache
dist/
build/
.cache/

# Env/Logs
.env
.env.*
*.log

# Python cache
__pycache__/

